<% @page_title = "Kelli and Will Are Getting Married" %>
<% @page_description = "" %>

<div class="inside med2-def">
	<div class="full open">
		<%= image_tag('jesses.jpg', class: 'img-responsive', alt: "") %>
	</div>

	<div id="details" class="full intro">
		<div class="inside">
			<h4>Join us this summer <br> For a highly-anticipated event you'll have to see to believe</h4>
			<div class="border single hlf"></div>
		</div>
		<!-- <h4>You have to see it to believe it</h4> -->
		<h2 class="vibes">Kelli &amp; Will are getting married</h2>
		<%= image_tag('divider.png', class: 'divBorder', alt: "") %>
		<h3>Saturday, July 27, 2019<br>The Grand Hotel Golf Resort &amp; Spa</h3>
		<p>One Grand Boulevard, Point Clear, Al 36564</p>

		<div class="inside tmargin2">
			<div class="border single hlf"></div>
			<div class="tmargin3"></div>
			<p>We will be updating this page with more details as we get closer to the wedding. If you have any questions for us, check the Q&amp;A section below, or give us a call!</p>
		</div>

	</div>
</div>
<!-- <div class="border"></div> -->


<!-- 94 DAYS 23 HRS 14 MINS 11 SECS -->

<div id="accommodations" class="full acc">
	<h3 class="title">Accommodations</h3>
	<div class="clearfix"></div>
	
	<div class="inside med2-def">
		<ul uk-accordion>
			<!-- uk-open -->
	    <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">The Grand Hotel Golf Resort & Spa, Autograph Collection</a>
        <div class="uk-accordion-content">
        	<p>Book your room where everything is happening!<br> The resort has restaurants, bars, and fun activities to entertain you all weekend -- including the wedding and reception on Saturday. There is also a shuttle that runs from The Grand to downtown Fairhope twice a day, for anyone interested in shopping or exploring downtown, but not interested in driving.</p>

					<p>There is a special discount for wedding guests (that cannot be combined with reward points or other discounts), and it is available until June 5th. So make your reservations soon!</p>
					
					<div class="grandbox">
						<p>To book a room with the special wedding group discount:</p>
						<a class="bk-link alt center" href="https://book.passkey.com/go/parrisburnettwed" target="_blank">Click Here</a>
					</div>

					<div class="grandbox">
						<p>Or visit The Grand's website to book using Marriott points:</p>
						<a class="bk-link alt center" target="_blank" href="https://www.grand1847.com/">Click Here</a>
					</div>
        </div>
	    </li>

	    <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">Hotels & Airbnb's</a>
        <div class="uk-accordion-content">
        	<p>There are plenty of other options in the Point Clear area, including several places within 3 miles of The Grand. Book a room close by, and pop back and forth with no trouble at all!</p>
        	
					<div class="grandbox">
	        	<p>For a list of the closest hotels to The Grand:</p>
	        	<a class="bk-link alt center" target="_blank" href="https://www.tripadvisor.com/HotelsNear-g30785-d113284-The_Grand_Hotel_Golf_Resort_Spa_Autograph_Collection-Point_Clear_Alabama.html">Click Here </a>
	        </div>

					<div class="grandbox">
	        	<p>To check out some nearby Airbnb's:</p>
	        	<a class="bk-link alt center" target="_blank" href="https://www.airbnb.com">Click Here</a>
        </div>
	    </li>
		</ul>
	</div>
</div>



		<!-- SCHEDULE -->
<!-- 
		Add Event To Calendar
		5:30 PM
		to
		10:00 PM
		Wedding Ceremony
		We're getting married!

		One Grand Boulevard, Point Clear, AL 36564, USA
		Dress Code: Cocktail Attire

		Add Event To Calendar
		6:00 PM
		to
		8:00 PM
		Wedding Reception
		It's party time! We encourage everyone to grab some drinks and get out on the dance floor. Don't be shy. We're all family and friends.
 -->




<div id="questions" class="full faq">
	<h3 class="title">Q &amp; A</h3>
	<div class="clearfix"></div>
	
	<div class="inside med2-def">
		<ul uk-accordion>
			<!-- uk-open -->
	    <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">When is the RSVP deadline?</a>
        <div class="uk-accordion-content">June 5, 2019</div>
      </li>

      <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">What should I wear?</a>
        <div class="uk-accordion-content">Cocktail Attire</div>
      </li>

      <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">Is the wedding indoors or outdoors?</a>
        <div class="uk-accordion-content">The ceremony will be outside, but we know it will be hot and we promise to be quick! The reception will be held indoors, directly after the ceremony.</div>
      </li>

      <li class="hotelAcc">
        <a class="uk-accordion-title" href="#">What time will the reception end?</a>
        <div class="uk-accordion-content">10p.m.</div>
      </li>
    </ul>
  </div>
</div>