<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
  <div class="uk-offcanvas-bar mobile mnav">
    <button class="uk-offcanvas-close uk-dark" type="button" uk-close></button>
    <ul class="uk-nav nav-default">
      <!-- <li><%= link_to "Home", root_path %></li> -->
      <li><a href="#details">Details</a></li>
      <li><a href="#accommodations">Accommodations</a></li>
      <li><a href="#questions">Q&amp;A</a></li>
      <li><a href="#registry">Registry</a></li>
    </ul>
  </div>
</div>